.tabular {
  position: relative;
}

/* table */

.tabular table {
  width: 100%;
}

.tabular th {
  text-align: left;
}

/* loader */

.tabular .tabular-loader {
  position: absolute;
  top: 1em;
  left: 50%;
  width: 6em;
  margin-left: -2em;
  background: #e2b21a;
  color: #fff;
  z-index: 2;
  padding: .4em .5em;
  text-align: center;
  font-size: .9em;
  border-radius: .2em;
}

/* sort */

.tabular .tabular-sort {
  position: relative;
  padding-right: 1em;
}

.tabular .tabular-sort:focus {
  outline: none;
}

.tabular .tabular-sort:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3px;
  border-bottom: 6px solid #ddd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tabular .tabular-sort[data-sort="desc"]:before {
  border-bottom: none;
  border-top: 6px solid;
}

.tabular .tabular-sort-selected:before {
  border-bottom-color: inherit;
}

/* pagination */

.tabular-paginator .tabular-paginator-btns select,
.tabular-paginator .tabular-paginator-btn {
  margin-right: .5em;
}

.tabular-paginator .tabular-paginator-btns,
.tabular-paginator .tabular-paginator-info {
  display: inline-block;
}

.tabular-paginator .tabular-paginator-info {
  margin-left: 1em;
}
